<div class="wrapper">
    <div class="head">
        <div class="right">
            <p style="margin: 0px 0px 0px; height: 28px;">
                <span style="font-size: 20px; margin: 0px 0px 0px; text-align: left;">Header</span>
                <span class="b" style="margin-left: 986px;">
                    <mat-icon> bar_chart</mat-icon>
                   <span style="margin-top: 0px;"> mehul patil</span>
                <img src="/assets/Screenshot_20180719-160629~2.png" style="border-radius: 50%;margin-left: 9px;
                border-radius: 50%;
                height: 22px;
                width: 22px;
                margin-top: 0px;"></span>
            </p>
            <p style="margin: 0px 0px 0px;">Monday,<span style="color: darkcyan;">11 Aug 2021 </span> </p>
        </div>
    </div>

    <ul class="menu">
        <li class="list-item">
            <a class="home fa fa-home fa-fw" href="#">
                <span>Home</span>
            </a>
        </li>
        <li class="list-item">
            <a class="about fa fa-info fa-fw" href="#">
                <span>About</span>
            </a>
        </li>
        <li class="list-item">
            <a class="services fa fa-wrench fa-fw" href="#">
                <span>Services</span>
            </a>
        </li>
        <li class="list-item">
            <a class="contact fa fa-folder fa-fw" href="#">
                <span>About</span>
            </a>
        </li>
    </ul>

    <div style="background: #303030;
                    height: 80%px;
                    width: 1252px;
                    height: 100%;
                    margin-top: -250px;
                    margin-left: 88px">
        <div class="main_content">
            <div class="box">
                <mat-list role="list" style="background-color: #303030; color: white;">
                    <mat-list-item role="listitem" style="color: white;"><span>Total Applications</span>
                        <a href="#" style="color: teal; margin-left: 113px; font-size: 11px;">
                            <mat-icon>more_vert</mat-icon>
                        </a>
                    </mat-list-item>
                    <mat-list-item role="listitem" style="color: white;">
                        <h2>7566</h2>
                        <p style=" text-align: right; margin-left: 185px; border: 5px solid blueviolet; border-radius: 20px; height: 21px; width: 24px; padding: 4px; ">72%</p>
                    </mat-list-item>
                    <mat-list-item role="listitem" style="color: white;">
                        <mat-icon style="margin-right: 3px;"> trending_up
                        </mat-icon>
                        42%up</mat-list-item>
                </mat-list>
            </div>
            <div class="box">
                <mat-list role="list" style="background-color: #303030; color: white;">
                    <mat-list-item role="listitem" style="color: white;">Shortlisted Candidates
                        <a href="#" style="color: teal; margin-left: 76px; font-size: 11px; ">
                            <mat-icon>more_vert</mat-icon>
                        </a>
                    </mat-list-item>
                    <mat-list-item role="listitem" style="color: white;">
                        <h2>3654</h2>
                        <p style=" text-align: right; margin-left: 185px; border: 5px solid violet; border-radius: 20px; height: 21px; width: 24px; padding: 4px; ">72%</p>
                    </mat-list-item>
                    <mat-list-item role="listitem" style="color: white;">
                        <mat-icon style="margin-right: 3px;"> trending_up
                        </mat-icon>
                        25%up</mat-list-item>
                </mat-list>
            </div>
            <div class="box">
                <mat-list role="list" style="background-color: #303030; color: white;">
                    <mat-list-item role="listitem" style="color: white;">Pending Candidates
                        <a href="#" style="color: teal; margin-left: 94px;">
                            <mat-icon>more_vert</mat-icon>
                        </a>
                    </mat-list-item>
                    <mat-list-item role="listitem" style="color: white;">
                        <h2>3912</h2>
                        <p style=" text-align: right; margin-left: 185px; border: 5px solid violet; border-radius: 20px; height: 21px; width: 24px; padding: 4px; ">72%</p>
                    </mat-list-item>
                    <mat-list-item role="listitem" style="color: white;">
                        <mat-icon style="margin-right: 3px;"> trending_up
                        </mat-icon>
                        10%up</mat-list-item>
                </mat-list>

            </div>
            <div class="row">

            </div>
            <div class="box" style="width: 45em;
            height: 15em;">
                <div class="graph">
                </div>
            </div>
            <div class="to_app">
                <p style="color: cornflowerblue;">Application recieved</p>
                <mat-list role="list">
                    <mat-list-item role="listitem" style="color:blueviolet;">Application
                        <p class="respons_line1"></p>
                    </mat-list-item>
                    <mat-list-item role="listitem" style="color: cadetblue;">Selection
                        <p class="respons_line2"></p>
                    </mat-list-item>
                    <mat-list-item role="listitem" style="color: purple;">Rejection
                        <p class="respons_line3"></p>
                    </mat-list-item>
                </mat-list>

            </div>
            <div class="box" style="width: 45em;
            height: 14em;
            margin-top: 7px;">
                <span style="color: snow; margin-left: -120px;">
                    Refrals Status
                </span>
                <span style="margin-left: 150px; color: steelblue;">
                    <i class="fa fa-paper-plane" aria-hidden="true" style="color: steelblue;"></i>
                    40 Compain sent in the llist
                </span>
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <h3 style="color: whitesmoke;">Under Reached</h3>
                            <p style="color: steelblue;">30%</p>
                            <p style="color: whitesmoke;"><b>7950</b></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <h3 style="color: whitesmoke;">Under Reached</h3>
                            <p style="color: steelblue;">30%</p>
                            <p style="color: whitesmoke;"><b>7950</b></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <h3 style="color: whitesmoke;">Under Reached</h3>
                            <p style="color: steelblue;">30%</p>
                            <p style="color: whitesmoke;"><b>7950</b></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <h3 style="color: whitesmoke;">Under Reached</h3>
                            <p style="color: steelblue;">30%</p>
                            <p style="color: whitesmoke;"><b>7950</b></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="chart" style="margin-top:-205px ;">
                <h3 style="color: white;">
                    Open Position By Department
                </h3>
            </div>
            <div class="chart" id="piechart" style="width: 309px;
            height: 182px;
            margin-top: -184px;">

            </div>


            <div class=" b ">
                <div class="row " style="border: 1px solid #303030; border-radius: 4%; ">
                    <div class="col-md-12 side_image " style="border-radius: 0%; ">
                        <h2 style="color: aliceblue; ">Hello, Mehul</h2>
                    </div>
                    <div style="height: 372px; margin-top: -234px; border: 1px solid #303030; border-radius: 13px 13px 0px 0px; background: #303030; background-color: #303030; width: 272px; margin-left: -2px; ">
                        <h4 style="color: wheat; ">Hello</h4>
                        <mat-list role="list">
                            <div class="icon-bar">
                                <a class="active" href="#">
                                    <mat-icon>account_circle</mat-icon>
                                </a>
                                <a href="#" style="width: 40%; font-size: 1em; text-decoration: none;">John</a>
                                <a href="#">
                                    <mat-icon>email</mat-icon>
                                </a>
                                <a href="#">
                                    <mat-icon>phone</mat-icon>
                                </a>
                            </div>
                            <div class="icon-bar">
                                <a class="active" href="#">
                                    <mat-icon>account_circle</mat-icon>
                                </a>
                                <a href="#" style="width: 40%; font-size: 1em; text-decoration: none;">Peter</a>
                                <a href="#">
                                    <mat-icon>email</mat-icon>
                                </a>
                                <a href="#">
                                    <mat-icon>phone</mat-icon>
                                </a>
                            </div>
                            <div class="icon-bar">
                                <a class="active" href="#">
                                    <mat-icon>account_circle</mat-icon>
                                </a>
                                <a href="#" style="width: 40%; font-size: 1em; text-decoration: none;">Monica</a>
                                <a href="#">
                                    <mat-icon>email</mat-icon>
                                </a>
                                <a href="#">
                                    <mat-icon>phone</mat-icon>
                                </a>
                            </div>
                            <div class="icon-bar">
                                <a class="active" href="#">
                                    <mat-icon>account_circle</mat-icon>
                                </a>
                                <a href="#" style="width: 40%; font-size: 1em; text-decoration: none;">Bruce</a>
                                <a href="#">
                                    <mat-icon>email</mat-icon>
                                </a>
                                <a href="#">
                                    <mat-icon>phone</mat-icon>
                                </a>
                            </div>
                            <div class="icon-bar">
                                <a class="active" href="#">
                                    <mat-icon>account_circle</mat-icon>
                                </a>
                                <a href="#" style="width: 40%; font-size: 1em; text-decoration: none;">Swati</a>
                                <a href="#">
                                    <mat-icon>email</mat-icon>
                                </a>
                                <a href="#">
                                    <mat-icon>phone</mat-icon>
                                </a>
                            </div>
                            <div class="icon-bar">
                                <a class="active" href="#">
                                    <mat-icon>account_circle</mat-icon>
                                </a>
                                <a href="#" style="width: 40%; font-size: 1em; text-decoration: none;">Kirti</a>
                                <a href="#">
                                    <mat-icon>email</mat-icon>
                                </a>
                                <a href="#">
                                    <mat-icon>phone</mat-icon>
                                </a>
                            </div>
                        </mat-list>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>